#JAbutton {
  height: 200px;
  width: 200px;
}
#NEINbutton {
  height: 200px;
  width: 200px;
}
#connectionindicator {
  height: 2em;
  width: 2em;
}
#connectiontext{
  font-size: 1em;
}
#playerbox{
  padding: 50px 30px 0px 30px
}
#cardbox{
  box-shadow: 2px 2px 10px 6px #ffc;
  background-color: #ffc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);/* Fuck you too, css */
}
#votebox{
  box-shadow: 2px 2px 10px 6px #ffc;
  background-color: #ffc;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);/* Fuck you too, css */
}
#statusbar{
  text-align: center;
}
body{
  background-image: url("background.jpg");
  background-size: auto;
  width: auto;
  height: auto;
}
.presidentglow {
  box-shadow: 2px 2px 10px 6px #06f;
}
.chancellorglow {
  box-shadow: 2px 2px 10px 6px #c60;
}
.playerText {
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-family: fantasy;
  font-size: 2em;
}
.playerDiv {
  position: relative;
  margin: 0px 30px 0px 30px;
}
.voteIndicator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 200px;
}
.gameboard {
  position: fixed;
  bottom: 0;
  width: 50%;
}
#liberalboard {
  left: 0;
}
#liberaloverlay {
  left: 0;
}
#fascistboard{
  right:0;
}
#fascistoverlay{
  right:0;
}
